/***************************************/
/* HEADER SECTION */
/***************************************/
.header {
    padding: 1.6rem 3.2rem;
    height: 100vh;
    /* background-color: orange; */

    display: flex;
    flex-direction: column;
    gap: 2.4rem;
}

.logo-icon {
    font-size: 3.2rem;
    color: #2f9e44;
    margin-left: 1.6rem;
}

/****** NAVIGATION ******/

.nav-list {
    list-style: none;
}

.nav-list li {
    display: inline-block;
}

.nav-item--active .nav-text {
    font-weight: 700;
}

.nav-link:link,
.nav-link:visited {
    font-size: 2.4rem;
    text-decoration: none;
    color: #000;
    border-radius: 4rem;
    padding: 1.2rem 1.6rem;

    display: flex;
    align-items: center;
}

.nav-link:hover,
.nav-link:active {
    background-color: #ddd;
}

.nav-icon {
    font-size: 2.4rem;
}

.nav-text {
    margin-left: 1.6rem;
}

/****** HEADER BUTTONS ******/
.btn--tweet-large {
    padding: 1.6rem 3.2rem;
}

.btn--profile {
    padding: 0.8rem 1.2rem;
    margin-top: auto;
    background: none;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1.2rem;

    transition: background-color 0.3s;
}

.btn--profile:hover {
    background-color: #ddd;
}

.profile-img {
    width: 70%;

    grid-row: 1/3;
    align-self: center;
}

.profile-full-name {
    font-weight: 700;
    align-self: end;
}

.profile-username {
    color: #6f6f6f;
    grid-row: 2 / span 1;
    align-self: start;
}

.profile-more-info {
    font-size: 1.6rem;

    grid-row: 1 / 3;
    align-self: center;
    justify-self: end;
}

/***************************************/
/* MAIN SECTION */
/***************************************/
.main {
    border-left: 1px solid #eee;
    grid-template-columns: 60fr 40fr;
    grid-template-rows: 5rem 5fr 1fr;
    column-gap: 3.2rem;
}

/***************************************/
/* STICKY TOP BAR SECTION */
/***************************************/
.section-sticky-top-bar {
    background-color: #fff;
    z-index: 999;
    border-right: 1px solid #eee;

    grid-column: 1/2;
    grid-row: 1/2;
}

/***************************************/
/* SEARCH BAR SECTION */
/***************************************/
.section-search-bar {
    align-self: center;
}

.search-bar {
    position: relative;
}

.search-bar-icon {
    font-size: 2.4rem;
    color: #777;

    position: absolute;
    top: 50%;
    left: 2rem;
    transform: translateY(-50%);
}

.search-bar input {
    /* height: 100%; */
    font-family: inherit;
    font-size: 1.6rem;
    height: 4rem;
    border: none;
    border-radius: 4rem;
    background-color: #ddd;
    width: 100%;
    padding-left: 6.4rem;
}

/***************************************/
/* FEED SECTION */
/***************************************/
.section-feed {
    border-right: 1px solid #eee;

    grid-row: 1/-1;
    grid-column: 1/2;
}

.create-tweet {
    margin-top: 5rem;

    display: grid;
    grid-template-columns: 1fr 9fr;
    grid-template-rows: 2fr 1fr;
    column-gap: 1.2rem;
    row-gap: 1.2rem;
}

.create-tweet-img {
    width: 100%;
}

.create-tweet-input {
    resize: none;
    font-family: inherit;
    font-size: 2rem;
    border: none;
    align-self: end;
}

.create-tweet-input:focus {
    outline: none;
}

.create-tweet-more-options {
    display: flex;
    gap: 1.2rem;
    align-items: center;

    grid-column: 2/-1;
}

.btn--more-options {
    background: none;
    border: none;
    cursor: pointer;
}

.more-options-icon {
    font-size: 1.6rem;
}

.btn--tweet-small {
    margin-left: auto;
    padding: 0.8rem 1.6rem;
    /* height: 3.4rem; */
}

/***************************************/
/* WHAT'S HAPPENING SECTION */
/***************************************/
.aside {
    background-color: blue;
}

/***************************************/
/* FOOTER SECTION */
/***************************************/
.footer {
    background-color: aquamarine;
}
